Library
Temp/
Logs/
.vscode/
.idea/
Build/
Builds/
Assets/Andrew/ANdrew.txt.meta
Assets/Nate/NaTE.txt.meta
UserSettings/
Assembly-CSharp.csproj
*.csproj
obj
Assets/Nate/TutorialInfo.meta
Assets/Readme.asset
Assets/Readme.asset.meta
Assets/Settings.meta
Assets/TutorialInfo.meta
Project2.sln
Assets/Nolan/FastMesh/Scripts/SceneViewText.cs
